<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rocks.jahn.smsgate"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />
	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="rocks.jahn.tinysmsgate.TinySMSGate"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="rocks.jahn.tinysmsgate.Preferences"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="rocks.jahn.smsgate.SMSGatePreferences" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
		<receiver android:name="rocks.jahn.tinysmsgate.SMSReceiver"> 
			<intent-filter> 
			    <action android:name="android.provider.Telephony.SMS_RECEIVED" /> 
			</intent-filter> 
		</receiver>
		
	    <service
	        android:name="rocks.jahn.tinysmsgate.SMSGateService"
	        android:label="Tiny SMS Gate Web Service" >
	    </service>
    </application>
</manifest>
